
.homeContainer {
    height: 100vh;
    width: 80vw;
    justify-content: center;
  }
  
  .filterArea {
    max-width: 20vh;
  }
  
  /* .productArea {
    background-color: cadetblue;
  } */
  
  .cartArea {
    flex: 1;
    max-width: 40vh;
  
  }
  
  /* Set the the flex and display for the main area */
  .homeContainer {
      display: flex;
      flex: 1;
  }
  
  .productArea {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
  }

  /* Main products area */
  .card-deck {
      margin-right: 1.5rem;
      display: flex;
      flex-wrap: wrap;
  }

  .card-robot {
      margin: 1.5rem;
  }
  
  .robotItem {
    flex: 1;
    min-width: 30%;
    border: solid;
  }
